body{
  background-color: eaeaea;
}

.ui.fixed.menu {
  background-color: rgba(27, 26, 28, 1);
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  background-color: rgb(21, 15, 15) !important;
  height: 100vh;
}

.masthead h1.ui.header {
  font-size: 4em;
}

.react-datepicker-wrapper {
  width: 100%;
}

